*{
    margin:0;
    box-sizing: border-box;
}
#filterBox{
    /* border: 1px solid red; */
    margin:30px 0px 30px 30px;
    padding:10px 10px 30px 10px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
#filterBox>div{
    margin-bottom: 20px;
}