*{
    margin:0;
    box-sizing: border-box;
}

.card{
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
.card>div{
    margin: 20px;
    /* border:1px solid red */
}
.card>div>img{
    max-width: 100%;
}
.card>div>div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.btn{
    background-color: teal;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
}
