*{
    margin:0;
    box-sizing: border-box;
}
.cartbox{
    display: flex;
    width: 500px;
    justify-content: space-around;
    margin: 0px auto;
    padding: 10px 0px;
    align-items: center;
    border: 2px solid black;
}
#image{
    border: 1px solid black;
    width: 30%;
}
.btn{
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    padding:5px 10px;

}
.btn:hover{
    background-color: green;
}
@media screen and (max-width:560px){
    .cartbox{
        width: 350px;
    }
}